<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .head{
            color: aquamarine;
            line-height: 40px;
            background-color: indianred;
            text-align: center;
            width: 100%;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="head">
    <p><a href="/add_book/">增加书籍</a></p>
    <p><a href="">修改书籍</a></p>
    <p><a href="">删除书籍</a></p>
    <p><a href="">查找书籍</a></p>
</div>
</body>
</html>