<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改学生信息</title>
</head>
<body>
<form action="/update_students?uid={{ obj.id }}" method="post">
    <p><input type="text" name="name" value="{{ obj.name }}"></input></p>
    <p><input type="text" name="age" value="{{ obj.age }}"></input></p>
    {% if not obj.gender %}
    <p>男<input type="radio" value="0" name="gender" checked="checked"></input></p>
    <p>女<input type="radio" value="1" name="gender"></input></p>
    {% else %}
    <p>男<input type="radio" value="0" name="gender" ></input></p>
    <p>女<input type="radio" value="1" name="gender" checked="checked"></input></p>
    {% endif %}
    <p>班级
        <select name="cs">
            {% for class in classes_list %}
                {% if class.id == obj.cs_id%}
            <option value='{{ class.id }}' selected="selected">{{ class.title }}</option>
                {% else %}
                <option value='{{ class.id }}'>{{ class.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="提交">
</form>
</body>
</html>